.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.form {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.inputS {
  flex: 1;
  height: 50px;
  padding-left: 10px;
}
.inputS:first-child {
  margin-right: 5px;
}
.inputL {
  width: 100%;
  height: 50px;
  padding-left: 10px;
}
.textarea {
  width: 100%;
}
.button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 70, 0);
  color: white;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
  /* .inputS:first-child {
    margin: 0;
  } */
}
